
.app {
min-height: 100vh;
background-color: rgba(16, 31, 240, 0.868);
display: flex;
justify-content: space-around;
align-items:center ;
}

.tweet{
  height: 300px;
  width: 100px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px  black
}
